<div class="container navbar navbar-expand-lg navbar-dark mr-auto">
    <img class="navbar brand" src="../../assets/img/logolandscape.png" width="350px" alt="QuizBot" (click)="homeclick()">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-2 h4"><a id="username_head" href="#">Login | Sign-up</a></li>
            <li class="nav-item mr-2 h4"><label id="coin_head"></label></li>
            <li class="nav-item mr-2 h4"><label id="level_head"></label></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>