<title>QuizBot</title>
   <link rel="shortcut icon" href="../../assets/img/favicon.ico">
    <div class="container vertical-center">
        <div class="container col-lg-6 col-md-10 sm-12">
            <div class="p-3 quizlogohome d-flex justify-content-center">
                <button name="loginbtn" id="loginbtn" (click)="loginbtn()">Login</button>
            </div>
            <div class="p-3 quizlogohome d-flex justify-content-center">
                <button name="singupbtn" id="signupbtn" (click)="singupbtn()">Sign Up!</button>
            </div>
            <div class="p-3 quizlogohome d-flex justify-content-center">
                <button name="playbtn" id="playbtn" (click)="playasguest()">Play as Guest</button>
            </div>
        </div>
    </div>
<!-- <router-outlet></router-outlet> -->