<div class="container vertical-center">
    <div class="d-flex flex-row m-5" (click)="playquiz()">
        <img src="../../assets/img/quiz.png" style="max-width: 150px;" alt="image-not-found">
    </div>
    <h5 class="h2">Trivia Quiz</h5>
    <div class="d-flex flex-row m-5" (click)="playpic()">
        <img src="../../assets/img/album.png" style="max-width: 150px;" alt="image-not-found">
    </div>
    <h5 class="h2">Picture Quiz</h5>
    <div class="d-flex flex-row m-5" (click)="playmath()">
        <img src="../../assets/img/math.png" style="max-width: 150px;" alt="image-not-found">
    </div>
    <h5 class="h2">Math Riddles</h5>
</div>